CarpoolSystem.Tests/bin/Debug/Moq.xml
CarpoolSystem/obj/Debug/edmxResourcesToEmbed/MainDbModel.csdl
CarpoolSystem/obj/Debug/edmxResourcesToEmbed/MainDbModel.msl
CarpoolSystem/obj/Debug/edmxResourcesToEmbed/MainDbModel.ssdl
TestResults/Kevin_KEVIN-PC 2014-04-13 17_32_25.trx
TestResults/Kevin_KEVIN-PC 2014-04-13 17_32_25/Out/carpoolsystem.tests.dll.config
CarpoolSystem/obj/Debug/CarpoolSystem.csproj.FileListAbsolute.txt
CarpoolSystem.Tests/obj/Debug/CarpoolSystem_Accessor.pdb
CarpoolSystem.Tests/obj/Debug/CarpoolSystem_Accessor.dll
CarpoolSystem.Tests/obj/Debug/CarpoolSystem.Tests.csproj.FileListAbsolute.txt
*.suo
CarpoolSystem/obj/Debug/CarpoolSystem.csproj.FileListAbsolute.txt
TestResults/Kevin_KEVIN-PC 2014-04-13 17_37_23/Out/AgentRestart.dat
TestResults/Kevin_KEVIN-PC 2014-04-13 17_37_23/Out/carpoolsystem.tests.dll.config
TestResults/Kevin_KEVIN-PC 2014-04-13 17_37_23.trx